# build artifacts

# platform related
.DS_Store
._.DS_Store
*.log

# editor related
.idea
*.swp
*.~
.vimrc
.cache

# build related
build/
dist*/
node_modules/
coverage/
.nyc_output
.Sketch-Headers
navi.sketchplugin/
assets/data/
navi.sketchplugin.zip
assets/table
.history/
*.xcworkspace/xcuserdata/
