# build artifacts

# platform related
.DS_Store
._.DS_Store
*.log

# editor related
.idea
*.swp
*.~
.vimrc
.cache

# build related
build/
dist*/
node_modules/
coverage/
.nyc_output

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata/
!*/contents.xcworkspacedata
!*.pbxproj
